

@if (TempData["SuccessMessage"] != null)
{
	<div id="Alert" class="alert alert-success alert-dismissible fade show">
		<i class="bi bi-check-circle-fill me-2"></i>
		@ViewBag.SuccessMessage
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
}
@if (TempData["ErrorMessage"] != null)
{

	<div id="Alert" class="alert alert-danger alert-dismissible fade show">
		<i class="bi bi-exclamation-triangle-fill me-2"></i>
		@ViewBag.ErrorMessage
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
}