@using GymManagement.BLL.ViewModels.MemberSession
@model CreateMemberSessionViewModel

@{
    ViewData["Title"] = "Power fitness | Create Member Session";
}

<h1>Create New Booking</h1>

<hr />
<div class="row">
    <div class="d-flex justify-content-center align-items-center h-100">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Booking Information</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="CreateMemberSession" asp-controller="MemberSession" asp-route-id="@Model.SessionId">
                        <div class="mb-3">
                            <label class="form-label">Member</label>
                            <select asp-for="MemberId" class="form-select">
                                <option value="">-- Select Member --</option>
                                 @foreach(var member in Model.Members)
                                {
                                    <option value="@member.Id">@member.Name</option>
							    }
                            </select>

                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Create Booking
                            </button>
                            <a asp-action="GetMembersForOnGoingSessions" asp-controller="MemberSession" asp-route-id=""  class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
